.bienvenidos{
    width: 65%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios{
    width: 35%;
}

.columnas{
    display: flex;
    justify-content: space-between;
}

.bienvenidos p{
    font-size: 20px;
}

.testimonio{
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}

.testimonio .autor{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    display: block;
    margin: 10px 0;
}

.tamanio{
    max-width: 60%;
}